FORMAT: 1A
HOST: http://retail.oracle.org/

# Retail - Products API

Allows clients to query for production details and product summary

## Product Details [/product/details/{id}]

### Get product details [GET]

+ Response 200 (application/json)

        [
            {
                "name": "Samsung 27” Widescreen LED Monitor, Black",
                "Item#": "946479",
                "Manufacturer": "Samsung",
                "model": "S27E310HS",
                "screen type": "LED",
                "price": "189.99",
                "diagonal screen size": "27 inches",
                "dimensions:": "25.33 H x 18.23 W x 7.90 D",
                "native resolution": "1920 x 1080",
                "contrast ratio": "1,000:1",
                "signal input type": "D-Sub 1",
                "typical response time": "1 ms",
                "aspect ratio": "16:9",
                "Horizontal Viewing Angle": "170/160 degrees"
            }
        ]


## Product Summary [/product/summary/{id}]

### Get product Summary [GET]

+ Response 200 (application/json)

        [
            {
                "name": "Samsung S27E310H 27” Widescreen LED Monitor, Black",
                "price":"189 .99",
                "summary": "Games, movies, Web surfing and viewing photos are all more fun with a crystal-clear screen. This Samsung 27" LED monitor's Mega Dynamic Contrast Ratio provides an amazingly brilliant picture that showcases entertainment and work in crisp detail."
            }
        ]